video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.video-container video::-webkit-media-controls,
.video-container video::-webkit-media-controls-enclosure,
.video-container video::-webkit-media-controls-panel,
.video-container video::-webkit-media-controls-play-button,
.video-container video::-webkit-media-controls-timeline,
.video-container video::-webkit-media-controls-current-time-display,
.video-container video::-webkit-media-controls-time-remaining-display,
.video-container video::-webkit-media-controls-fullscreen-button,
.video-container video::-webkit-media-controls-volume-slider {
  display: none !important;
}
